/*font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;*/

/*@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");*/


/*reset*/

*,
*::before,
*::after{
	box-sizing: border-box;
}
body{
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
button{
	border: 0;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}
dl, dd{
	margin: 0;
}
hr{
	border: 0;
	margin: 0;
}
figure{
	margin: 0;
}
blockquote{
	margin: 0;
}
cite{
	font-style: unset;
}


/*general*/

body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6;
	scroll-behavior: smooth;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
p{
	margin: 0;
}
.center{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.overhead{
	font-family: 'Kaushan Script', cursive;
	color: #333;
	font-size: 24px;
	margin-bottom: 8px;
}
h2{
	font-size: 30px;
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
}
.line{
	width: 60px;
	height: 3px;
    background-color: #f38181;
}
h2 + .line{
	margin: 38px auto;
}
.title-description{
	color: #999;
	text-align: center;
	width: 1090px;
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
}


/*header*/

header{
	position: absolute;
	left: 0;
    right: 0;
    padding-top: 29px;
    z-index: 9999;
}
header .container{
	display: flex;
	align-items: center;
}
.logo{
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	margin-right: auto;
}
nav{
	text-transform: uppercase;
	font-size: 14px;
	width: 494px;	
}
nav ul{
	display: flex;
	justify-content: space-between;
}
nav ul li a{
	color: #fff;
	padding: 10px 2px 7px;
	display: inline-block;
}
nav ul li:hover a,
nav ul li.active a
{
	color: #fce38a;
	transition: color .2s linear;
}
nav ul li::after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: #fce38a;
	opacity: 0;
	transition: opacity .2s linear;
}
nav ul li:hover::after,
nav ul li.active::after
{
	opacity: 1;
	background-color: #fce38a;
}
.user-button{
	margin-left: 50px;
	width: 76px;
	display: flex;
	justify-content: space-between;
}
.user-button button{
	font-size: 0;
	width: 18px;
	height: 18px;
}
.shopping{
	background: url("../img/header/cart.svg") center no-repeat;
}
.search{
	background: url("../img/header/search.svg") center no-repeat;
}


/*intro*/

.intro{
	height: 100vh;
	min-height: 870px;
	background: url("../img/back-intro.png") center no-repeat;
	background-size: cover;
}
.intro .container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-direction: column;
	position: relative;
}
.intro .overhead{
	color: #fff;
	font-size: 72px;
	margin-bottom: 18px;
}
h1{
	width: 980px;
	font-size: 150px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	line-height: 1;
}
h1 + .line{
	margin: 50px auto;
	width: 60px;
	height: 3px;
    background-color: #fff;
}
.intro .btn{
	color: #fff;
	border: 3px solid #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 30px;
	line-height: 40px;
	transition: all .2s linear;
}
.intro .btn:hover{
	background-color: #fff;
	color: #333;
}


/*slider*/

.slider{
	width: 100%;
	position: absolute;
    bottom: 0;
}
.slider ul{
	display: flex;
}
.slider ul li{
	flex-grow: 1;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	position: relative;
	opacity: 0.5;
	border-top: 3px solid #fff;
	line-height: 70px;
}
.slider ul li.active::before{
	content: "";
	display: block;
	position: absolute;
	width: 70px;
	height: 3px;
	top: -3px;
	background-color: #f38181;
}
.slider ul li.active{
	opacity: 1;
}
.slider ul li+li{
	margin-left: 40px;
}
.slider ul li span{
	font-weight: bold;
	font-size: 24px;
}




/*about*/
.about{
	padding-top: 90px;
	padding-bottom: 110px;
}
.about .title-wrap{
	margin-bottom: 100px;
}


/*gallery*/
.gallery ul{
	display: flex;
	justify-content: space-between;
}
.gallery ul li{
	position: relative;
	line-height: 0;
	box-shadow: 0 0 0 #95e1d3;
	transition: all .2s linear;
}
.gallery ul li:hover{
	transform: translate(-10px, -10px);
	box-shadow: 10px 10px 0 #95e1d3;
}
.gallery ul li .overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(#f38181, #fce38a);
	opacity: 0;
	transition: opacity .2s linear;
}
.gallery ul li:hover .overlay{
	opacity: 0.9;
}
.gallery ul li .overlay p{
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	line-height: 36px;
	font-weight: bold;
}
.gallery ul li .overlay p::before{
	content: "";
	background: url("../img/gallery/users.svg") center no-repeat;
	display: block;
	width: 32px;
	height: 23px;
	margin: 0 auto;
}




/*statistics*/

.statistics{
	background-color: #95e1d3;
	color: #fff;
	height: 270px;
}
.statistics .container{
	height: 100%;
}
.statistics ul{
	display: flex;
	height: 100%;
}
.statistics ul li{
	flex: 1 1 0;
	font-size: 14px;
	text-transform: uppercase;
	border-left: 1px solid rgba(255,255,255,0.3);
}
.statistics ul li:last-child{
	border-right: 1px solid rgba(255,255,255,0.3);
}
.statistics ul li span{
	font-size: 72px;
	font-weight: bold;
	line-height: 1.4;
}


/*services*/

.services{
	padding-top: 110px;
	padding-bottom: 120px;
}
.services .title-wrap{
	margin-bottom: 30px;
}
.services dl{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 74px 2px 74px;
	column-gap: 60px;
	row-gap: 46px;
	position: relative;
}
.services dl .separator{
	grid-column: span 3;
	background-color: #e5e5e5;
}
.services dl .dl-item{
	margin-left: 90px;
	position: relative;
}
.services dl .dl-item::before{
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 0;
	left: -60px;
}
.services dl .dt-photography::before{
	background: url("../img/services/clock.svg") center no-repeat;
}
.services dl .dt-web-design::before{
	background: url("../img/services/line-graph.svg") center no-repeat;
}
.services dl .dt-creativity::before{
	background: url("../img/services/computer-ok.svg") center no-repeat;
}
.services dl .dt-seo::before{
	background: url("../img/services/book.svg") center no-repeat;
}
.services dl .dt-css-html::before{
	background: url("../img/services/house.svg") center no-repeat;
}
.services dl .dt-digital::before{
	background: url("../img/services/picture.svg") center no-repeat;
}
.services dl dt{
	color: #333;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: bold;
}
.services dl dd{
	color: #999;
	font-size: 13px;
}




/*unique-design*/

.unique-design{
	padding-top: 110px;
	background: url("../img/back-unique-design.png") center no-repeat;
	background-size: cover;
}
.unique-design .container{
	position: relative;
}
.unique-design .title-wrap{
	margin-bottom: -20px;
}
.ipad{
	display: block;
	margin: auto;
	padding-right: 40px;
}
.iphone{
	position: absolute;
	bottom: -90px;
	right: 19%;
}



/*what-we-do*/

.what-we-do{
	padding-top: 110px;
	padding-bottom: 120px;
}
.what-we-do .title-wrap{
	margin-bottom: 90px;
}
.what-we-do .content{
	display: flex;
	justify-content: space-between;
}
.what-we-do .accordion{
	width: 50%;
}
.what-we-do img{
	width: 570px;
	height: 380px;
}


/*accordion*/

.accordion dt{
	text-transform: uppercase;
	font-size: 14px;
	padding: 18px 60px;
	position: relative;
	border: 1px solid #ddd;
	cursor: pointer;
}
/*иконка*/
.accordion dt::before{
	content: "";
	display: block;
	position: absolute;
	left: 14px;
	top: 14px;
	width: 32px;
	height: 32px;
}
/*стрелка*/
.accordion dt::after{
	content: "";
	display: block;
	position: absolute;
	right: 20px;
	top: 22px;
	width: 10px;
	height: 10px;
	border-top: 2px solid #999;
	border-right: 2px solid #999;
	transform: rotate(135deg);
}
.accordion dt.active::after{
	transform: rotate(-45deg);
	margin-top: 4px;
}
.accordion dt.dt-photography::before{
 	background: url("../img/whatwedo/image.svg") center no-repeat;
}
.accordion dt.dt-creativity::before{
 	background: url("../img/whatwedo/equalizer.svg") center no-repeat;
}
.accordion dt.dt-web-design::before{
 	background: url("../img/whatwedo/target.svg") center no-repeat;
}
.accordion dt.active + dd{
	max-height: 180px;
	padding: 20px 25px 20px 20px;
	border: 1px solid #ddd;
	border-top: none;
}
.accordion dd{
	margin: 0;
	font-weight: 300;
	font-style: italic;	
	border: none;
	margin-bottom: 10px;
	max-height: 0;
	padding: 0;	
	color: #999;
	position: relative;
	scrollbar-width: thin;
	overflow: hidden;
}
.accordion dd p{
	overflow-y: auto;
	max-height: 136px;
	padding-right: 20px;
}
.accordion dd p::-webkit-scrollbar {
  width: 5px;
}
.accordion dd p::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 25px;
}
.accordion dd p::-webkit-scrollbar-thumb {
  background-color: #95e1d3;
  border-radius: 25px;
}


/*quotes*/
.quotes{
	height: 290px;
	background-color: #f8f8f8;
	padding-top: 35px;
	padding-bottom: 35px;
}
.quotes .container{
	height: 100%;
}




/*slider-quotes*/

.slider-quotes{
	height: 100%;
	padding: 0 80px;
	display: flex;
	align-items: center;
	position: relative;
}
/*стрелки*/
.slider-quotes::before, 
.slider-quotes::after{
	content: "";
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
	cursor: pointer;
	top: 50%;
	transform: translateY(-50px);
}
.slider-quotes::before{	
	transform: rotate(-135deg);
	left: 20px;	
}
.slider-quotes::after{
	transform: rotate(45deg);
	right: 20px;
}
.slider-quotes figure{
	margin-left: 240px;
}
.slider-quotes figure::before{
	content: "";
	display: block;
	width: 150px;
	height: 150px;
	background: url("../img/quotes/speach.svg") center no-repeat;
	background-size: cover;
	position: absolute;
	top: 35px;
	left: 112px;
}
.slider-quotes figure blockquote{
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
	color: #999;
}
.slider-quotes figure figcaption{
	display: flex;
	align-items: center;
	padding-top: 10px;
}
.slider-quotes figure figcaption .line{
	margin-right: 10px;
}
.slider-quotes figure figcaption cite{
	color: #333;
	font-size: 24px;
	font-family: 'Kaushan Script', cursive;
}




/*team*/
.team{
	padding-top: 90px;
	padding-bottom: 90px;
}
.team .title-wrap{
	margin-bottom: 90px;
}


/*gallery2*/
.gallery2{
	display: flex;
	justify-content: space-between;
}
.gallery2 figure .img-wrap{
	box-shadow: 0 0 0 #95e1d3;
	transition: all .2s linear;
	position: relative;
}
.gallery2 figure .img-wrap:hover{
	transform: translate(-10px, -10px);
	box-shadow: 10px 10px 0 #95e1d3;
}
.gallery2 figure .img-wrap img{
	display: block;
}
.gallery2 figure .img-wrap .overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(#f38181, #fce38a);
	opacity: 0;
	transition: opacity .2s linear;
}
.gallery2 figure:hover .img-wrap .overlay{
	opacity: 0.9;
}
.gallery2 figure figcaption{
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.gallery2 figure .title{
	color: #333;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 2;
}
.gallery2 figure .desc{
	color: #999;
	font-size: 15px;
	line-height: 2;
	font-weight: 300;
	font-style: italic;
}
.gallery2 figure .overlay .social-wrap{
	display: flex;
}
.gallery2 figure .overlay .social-wrap a{
	font-size: 0;
	width: 56px;
	height: 56px;
	display: block;
	background: #fce38a;
	position: relative;
}
.gallery2 figure .overlay .social-wrap a + a{
	margin-left: 1px;
}
.gallery2 figure .overlay .social-wrap a::before{
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	line-height: 56px;
	font-size: 24px;
	color: #f38181;
}
.gallery2 figure .overlay .social-wrap a:hover{
	background: #f38181;
}
.gallery2 figure .overlay .social-wrap a:hover::before{
	color: #fff;
}




/*clients*/

.clients{
	background-color: #f8f8f8;
	height: 250px;
}
.clients .container{
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}