/*font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;*/


/*reset*/

*,
*::before,
*::after{
	box-sizing: border-box;
}
body{
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
	display: block;
}
button{
	border: 0;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}
dl, dd{
	margin: 0;
}
hr{
	border: 0;
	margin: 0;
}
figure{
	margin: 0;
}
blockquote{
	margin: 0;
}
cite{
	font-style: unset;
}
input:focus, input:active{
	outline: 0;
}


/*general*/

body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6;
	scroll-behavior: smooth;
}
input, button{
	font-family: 'Montserrat', sans-serif;
}
.container{
	max-width: 1230px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
p{
	margin: 0;
}
.center{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.overhead{
	font-family: 'Kaushan Script', cursive;
	color: #333;
	font-size: 24px;
	margin-bottom: 8px;
}
h2{
	font-size: 30px;
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
}
.line{
	width: 60px;
	height: 3px;
    background-color: #f38181;
}
h2 + .line{
	margin: 30px auto 40px;
}
.title-description{
	color: #999;
	text-align: center;
	max-width: 1090px;
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
}


/*header*/

header{
	position: absolute;
	left: 0;
    right: 0;
    padding-top: 29px;
    z-index: 9999;
}
header .container{
	display: flex;
	align-items: center;
}
header .logo{
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	margin-right: auto;
}
header .user-buttons{
	margin-left: 50px;
	width: 76px;
	display: flex;
	justify-content: space-between;
}
header .user-buttons button{
	font-size: 0;
	width: 18px;
	height: 18px;
}
header .user-buttons .shopping{
	background: url("../img/header/cart.svg") center no-repeat;
}
header .user-buttons .search{
	background: url("../img/header/search.svg") center no-repeat;
}



/*nav*/
nav{
	text-transform: uppercase;
	font-size: 14px;
	width: 494px;	
	margin-left: 40px;
}
nav ul{
	display: flex;
	justify-content: space-between;
}
nav ul li{
	position: relative;
}
nav ul li a{
	color: #fff;
	line-height: 40px;
}
nav ul li:hover a,
nav ul li.active a
{
	color: #fce38a;
	transition: color .2s linear;
}
nav ul li::after{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 3px;
	background-color: #fce38a;
	opacity: 0;
	transition: opacity .2s linear;
}
nav ul li:hover::after,
nav ul li.active::after
{
	opacity: 1;
	background-color: #fce38a;
}



/*intro*/

.intro{
	height: 100vh;
	min-height: 870px;
	background: url("../img/back-intro.png") center no-repeat;
	background-size: cover;
}
.intro .container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-direction: column;
	position: relative;
}
.intro .overhead{
	color: #fff;
	font-size: 72px;
	margin-bottom: 18px;
}
.intro h1{
	font-size: 150px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	line-height: 1;
}
.intro h1 + .line{
	margin: 50px auto;
	width: 60px;
	height: 3px;
    background-color: #fff;
}
.intro .btn{
	color: #fff;
	border: 3px solid #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 30px;
	line-height: 40px;
	transition: all .2s linear;
}
.intro .btn:hover{
	background-color: #fff;
	color: #333;
}


/*slider*/

.slider{
	position: absolute;
    bottom: 0px;
    left: 15px;
    right: 15px;
}
.slider ul{
	display: flex;
}
.slider ul li{
	flex: 1 1;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	position: relative;
	opacity: 0.5;
	border-top: 3px solid #fff;
	line-height: 70px;
}
.slider ul li.active::before{
	content: "";
	display: block;
	position: absolute;
	width: 25%;
	height: 3px;
	top: -3px;
	background-color: #f38181;
}
.slider ul li.active{
	opacity: 1;
}
.slider ul li+li{
	margin-left: 40px;
}
.slider ul li span{
	font-weight: bold;
	font-size: 24px;
}




/*about*/
.about{
	padding-top: 90px;
	padding-bottom: 110px;
}
.about .title-wrap{
	margin-bottom: 100px;
}


/*gallery*/
.gallery ul{
	display: flex;
	justify-content: space-between;
}
.gallery ul li{
	position: relative;
	line-height: 0;
	box-shadow: 0 0 0 #95e1d3;
	transition: all .2s linear;
}
.gallery ul li:hover{
	transform: translate(-10px, -10px);
	box-shadow: 10px 10px 0 #95e1d3;
}
.gallery ul li .overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(#f38181, #fce38a);
	opacity: 0;
	transition: opacity .2s linear;
}
.gallery ul li:hover .overlay{
	opacity: 0.9;
}
.gallery ul li .overlay p{
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	line-height: 36px;
	font-weight: bold;
}
.gallery ul li .overlay p::before{
	content: "";
	background: url("../img/gallery/users.svg") center no-repeat;
	display: block;
	width: 32px;
	height: 23px;
	margin: 0 auto;
}




/*statistics*/

.statistics{
	background-color: #95e1d3;
	color: #fff;
	height: 270px;
}
.statistics .container{
	height: 100%;
}
.statistics ul{
	display: flex;
	height: 100%;
}
.statistics ul li{
	flex: 1 1 0;
	font-size: 14px;
	text-transform: uppercase;
	border-left: 1px solid rgba(255,255,255,0.3);
}
.statistics ul li:last-child{
	border-right: 1px solid rgba(255,255,255,0.3);
}
.statistics ul li span{
	font-size: 72px;
	font-weight: bold;
	line-height: 1.4;
}


/*services*/

.services{
	padding-top: 110px;
	padding-bottom: 120px;
}
.services .title-wrap{
	margin-bottom: 30px;
}
.services dl{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 74px 2px 74px;
	column-gap: 60px;
	row-gap: 46px;
	position: relative;
}
.services dl .separator{
	grid-column: span 3;
	background-color: #e5e5e5;
}
.services dl .dl-item{
	margin-left: 90px;
	position: relative;
}
.services dl .dl-item::before{
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 0;
	left: -60px;
}
.services dl .dt-photography::before{
	background: url("../img/services/clock.svg") center no-repeat;
}
.services dl .dt-web-design::before{
	background: url("../img/services/line-graph.svg") center no-repeat;
}
.services dl .dt-creativity::before{
	background: url("../img/services/computer-ok.svg") center no-repeat;
}
.services dl .dt-seo::before{
	background: url("../img/services/book.svg") center no-repeat;
}
.services dl .dt-css-html::before{
	background: url("../img/services/house.svg") center no-repeat;
}
.services dl .dt-digital::before{
	background: url("../img/services/picture.svg") center no-repeat;
}
.services dl dt{
	color: #333;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: bold;
}
.services dl dd{
	color: #999;
	font-size: 13px;
}




/*unique-design*/

.unique-design{
	padding-top: 110px;
	background: url("../img/back-unique-design.png") center no-repeat;
	background-size: cover;
}
.unique-design .container{
	position: relative;
}
.unique-design .title-wrap{
	margin-bottom: -20px;
}
.ipad{
	display: block;
	margin: auto;
	padding-right: 40px;
}
.iphone{
	position: absolute;
	bottom: -90px;
	right: 19%;
}



/*what-we-do*/

.what-we-do{
	padding-top: 110px;
	padding-bottom: 120px;
}
.what-we-do .title-wrap{
	margin-bottom: 90px;
}
.what-we-do .content{
	display: flex;
	justify-content: space-between;
}
.what-we-do .accordion{
	width: 50%;
}
.what-we-do img{
	width: 570px;
	height: 380px;
}


/*accordion*/

.accordion dt{
	text-transform: uppercase;
	font-size: 14px;
	padding: 18px 60px;
	position: relative;
	border: 1px solid #ddd;
	cursor: pointer;
}
/*иконка*/
.accordion dt::before{
	content: "";
	display: block;
	position: absolute;
	left: 14px;
	top: 14px;
	width: 32px;
	height: 32px;
}
/*стрелка*/
.accordion dt::after{
	content: "";
	display: block;
	position: absolute;
	right: 20px;
	top: 22px;
	width: 10px;
	height: 10px;
	border-top: 2px solid #999;
	border-right: 2px solid #999;
	transform: rotate(135deg);
}
.accordion dt.active::after{
	transform: rotate(-45deg);
	margin-top: 4px;
}
.accordion dt.dt-photography::before{
 	background: url("../img/whatwedo/image.svg") center no-repeat;
}
.accordion dt.dt-creativity::before{
 	background: url("../img/whatwedo/equalizer.svg") center no-repeat;
}
.accordion dt.dt-web-design::before{
 	background: url("../img/whatwedo/target.svg") center no-repeat;
}
.accordion dt.active + dd{
	max-height: 180px;
	padding: 20px 25px 20px 20px;
	border: 1px solid #ddd;
	border-top: none;
}
.accordion dd{
	margin: 0;
	font-weight: 300;
	font-style: italic;	
	border: none;
	margin-bottom: 10px;
	max-height: 0;
	padding: 0;	
	color: #999;
	position: relative;
	scrollbar-width: thin;
	overflow: hidden;
}
.accordion dd p{
	overflow-y: auto;
	max-height: 136px;
	padding-right: 20px;
}
.accordion dd p::-webkit-scrollbar {
  width: 5px;
}
.accordion dd p::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 25px;
}
.accordion dd p::-webkit-scrollbar-thumb {
  background-color: #95e1d3;
  border-radius: 25px;
}


/*quotes*/
.quotes{
	height: 290px;
	background-color: #f8f8f8;
	padding-top: 35px;
	padding-bottom: 35px;
}
.quotes .container{
	height: 100%;
}




/*slider-quotes*/

.slider-quotes{
	height: 100%;
	padding: 0 80px;
	display: flex;
	align-items: center;
	position: relative;
}
/*стрелки*/
.slider-quotes::before, 
.slider-quotes::after{
	content: "";
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
	cursor: pointer;
	top: 50%;
	transform: translateY(-50px);
}
.slider-quotes::before{	
	transform: rotate(-135deg);
	left: 20px;	
}
.slider-quotes::after{
	transform: rotate(45deg);
	right: 20px;
}
.slider-quotes figure{
	margin-left: 240px;
}
.slider-quotes figure::before{
	content: "";
	display: block;
	width: 150px;
	height: 150px;
	background: url("../img/quotes/speach.svg") center no-repeat;
	background-size: cover;
	position: absolute;
	top: 35px;
	left: 112px;
}
.slider-quotes figure blockquote{
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
	color: #999;
}
.slider-quotes figure figcaption{
	display: flex;
	align-items: center;
	padding-top: 10px;
}
.slider-quotes figure figcaption .line{
	margin-right: 10px;
}
.slider-quotes figure figcaption cite{
	color: #333;
	font-size: 24px;
	font-family: 'Kaushan Script', cursive;
}




/*team*/
.team{
	padding-top: 90px;
	padding-bottom: 90px;
}
.team .title-wrap{
	margin-bottom: 90px;
}


/*gallery2*/
.gallery2{
	display: flex;
	justify-content: space-between;
}
.gallery2 figure .img-wrap{
	box-shadow: 0 0 0 #95e1d3;
	transition: all .2s linear;
	position: relative;
}
.gallery2 figure .img-wrap:hover{
	transform: translate(-10px, -10px);
	box-shadow: 10px 10px 0 #95e1d3;
}
.gallery2 figure .img-wrap img{
	display: block;
}
.gallery2 figure .img-wrap .overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(#f38181, #fce38a);
	opacity: 0;
	transition: opacity .2s linear;
}
.gallery2 figure:hover .img-wrap .overlay{
	opacity: 0.9;
}
.gallery2 figure figcaption{
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.gallery2 figure .title{
	color: #333;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 2;
}
.gallery2 figure .desc{
	color: #999;
	font-size: 15px;
	line-height: 2;
	font-weight: 300;
	font-style: italic;
}
.gallery2 figure .overlay .social-wrap{
	display: flex;
}
.gallery2 figure .overlay .social-wrap a{
	font-size: 0;
	width: 56px;
	height: 56px;
	background: #fce38a;
	position: relative;
	transition: background .2s linear;
}
.gallery2 figure .overlay .social-wrap a + a{
	margin-left: 1px;
}
.gallery2 figure .overlay .social-wrap a::before{
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	line-height: 56px;
	font-size: 24px;
	color: #f38181;
	transition: color .2s linear;
}
.gallery2 figure .overlay .social-wrap a:hover{
	background: #f38181;
}
.gallery2 figure .overlay .social-wrap a:hover::before{
	color: #fff;
}




/*clients*/

.clients{
	background-color: #f8f8f8;
	height: 250px;
}
.clients .container{
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}





/*our-work*/

.our-work{
	padding-top: 110px;
}
.our-work .title-wrap{
	margin-bottom: 100px;
}




/*gallery3*/
.gallery3{
	max-width: 1920px;
	margin: 0 auto;
	overflow: auto;
}
.gallery3 ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
.gallery3 ul li{
	position: relative;
	line-height: 0;
	box-shadow: 0 0 0 #95e1d3;
	transition: all .2s linear;
}
.gallery3 ul li.long{
	grid-row: span 2;
}
.gallery3 ul li .overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(#f38181, #fce38a);
	opacity: 0;
	transition: opacity .2s linear;
}
.gallery3 ul li:hover .overlay{
	opacity: 0.9;
}
.gallery3 ul li .overlay .title{
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	line-height: 4;
}
.gallery3 ul li .overlay .title::before{
	content: "";
	background: url("../img/gallery3/image.svg") center no-repeat;
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
}
.gallery3 ul li .overlay .desc{
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
}




/*reviews*/

.reviews{
	height: 440px;
	padding-top: 35px;
	padding-bottom: 35px;
}
.reviews .container{
	height: 100%;
}


/*slider-reviews*/

.slider-reviews{
	height: 100%;
	padding: 0 80px;
	display: flex;
	align-items: center;
	position: relative;
}
/*стрелки*/
.slider-reviews::before, 
.slider-reviews::after{
	content: "";
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
	cursor: pointer;
	top: 50%;
	transform: translateY(-50px);
}
.slider-reviews::before{	
	transform: rotate(-135deg);
	left: 20px;	
}
.slider-reviews::after{
	transform: rotate(45deg);
	right: 20px;
}
.slider-reviews figure{
	margin-left: 240px;
}
.slider-reviews figure .img-wrap{
	width: 210px;
	height: 210px;
	position: absolute;
	top: 50%;
	left: 80px;
	transform: translateY(-50%);
	overflow: hidden;
	border-radius: 50%;
}
.slider-reviews figure .img-wrap img{
	margin-left: -50px;
}
.slider-reviews figure blockquote{
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
	color: #999;
}
.slider-reviews figure figcaption{
	display: flex;
	align-items: center;
	padding-top: 10px;
}
.slider-reviews figure figcaption .line{
	margin-right: 10px;
}
.slider-reviews figure figcaption cite{
	color: #333;
	font-size: 24px;
	font-family: 'Kaushan Script', cursive;
}



/*people-say*/

.people-say{
	padding-top: 105px;
	padding-bottom: 130px;
	background: url("../img/back-people-say.jpg") center no-repeat;
	background-size: cover;
}



/*block-reviews*/

.block-reviews{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 60px;
	margin-top: 40px;
}
.block-reviews .reviews-item{
	padding-left: 180px;
	padding-right: 40px;
	position: relative;
}
.block-reviews .reviews-item .img-wrap{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	position: absolute;
	left: 40px;
	top: 0;
	overflow: hidden;
}
.block-reviews .reviews-item cite{
	font-size: 14px;
	text-transform: uppercase;
}
.block-reviews .reviews-item .position{
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	margin-bottom: 18px;
}
.block-reviews .reviews-item blockquote{
	font-size: 14px;
	margin-top: 18px;
	color: #999;
}



/*latest-blog*/

.latest-blog{
	padding-top: 110px;
	padding-bottom: 110px;
}



/*latest-posts*/

.latest-posts{
	display: flex;
	justify-content: space-between;
}
.latest-posts .latest-posts-item{
	width: 32%;
}
.latest-posts .latest-posts-item .img-wrap{
	position: relative;
	margin-bottom: 18px;
}
.latest-posts .latest-posts-item .img-wrap img{
	display: block;
	max-width: 100%;
	height: auto;
}
.latest-posts .latest-posts-item .img-wrap .date{
	width: 60px;
	height: 70px;
	background-color: #95e1d3;
	font-weight: 300;
	font-style: italic;
	color: #fff;
	line-height: 1;
	position: absolute;
	bottom: 10px;
	left: -10px;
}
.latest-posts .latest-posts-item .img-wrap .date span{
	font-weight: bold;
	font-style: normal;
	font-size: 32px;
}
.latest-posts .latest-posts-item .title{
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 14px;
}
.latest-posts .latest-posts-item .desc{
	font-size: 14px;
	color: #999;
	margin-bottom: 18px;
}
.latest-posts .latest-posts-item .separator{
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
}
.latest-posts .latest-posts-item .stat{
	color: #b3b3b3;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	margin-top: 18px;
	display: flex;
}
.latest-posts .latest-posts-item .stat .comments-number{
	position: relative;
	margin-left: 15px;
}
.latest-posts .latest-posts-item .stat i{
	color: #95e1d3;
}




/*open-map*/

.open-map{
	height: 200px;
	background: url("../img/back-open-map.jpg") center no-repeat;
	background-size: cover;
}
.open-map .title-wrap{
	height: 100%;
}
.open-map .title-wrap i{
	font-size: 30px;
	color: #f38181;
}
.open-map .title-wrap h2{
	color: #f38181;
	font-size: 24px;
	margin-top: 10px;
	position: relative;
}
.open-map .title-wrap .line{
	margin: 15px 0 0;
}



/*footer*/

footer{
	background-color: #f8f8f8;
	padding-top: 70px;
}
footer .container{
	display: flex;
	column-gap: 50px;
}
footer .left-block{ /*ломается на 1100*/
	flex-basis: 460px;
	flex-shrink: 18;
}
footer .left-block .logo{
	color: #ccc;
	font-weight: bold;
	font-size: 46px;
	line-height: 1;
	margin-bottom: 34px;
}
footer .left-block .desc{
	color: #999;
	font-size: 14px;
	height: 112px;
}
footer .left-block .followers{
	color: #333;
	margin-top: 14px;
	margin-bottom: 14px;
}
footer .left-block .followers span{
	font-weight: bold;
	font-size: 20px;
}
footer .left-block .social{
	border-top: 1px solid #e5e5e5;
	padding-top: 14px;
	margin-bottom: 30px;
}
footer .left-block .social .title{
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	color: #999;
	display: inline-block;
	margin-right: 24px;
}
footer .left-block .social a{
	font-size: 0;
	margin-right: 14px;
}
footer .left-block .social a::before{
	font-size: 15px;
	color: #95e1d3;
}
footer .blogs{
	flex-basis: 370px;
	flex-shrink: 4;
}
footer .blogs>.title{
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 46px;
}
footer .blogs .blogs-item{
	margin-left: 140px;
	position: relative;
	height: 80px;
	margin-bottom: 28px;
	padding-top: 18px;
}
footer .blogs .blogs-item:last-child{
	margin-bottom: 0;
}
footer .blogs .blogs-item img{
	position: absolute;
	left: -140px;
	top: 0;
}
footer .blogs .blogs-item .title{
	font-size: 12px;
	text-transform: uppercase;
}
footer .blogs .blogs-item .date{
	color: #999;
	font-size: 11px;
	font-weight: 300;
	font-style: italic;
}
footer .instagram{
	flex-basis: 270px;
	flex-shrink: 1;
}
footer .instagram .title{
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 46px;
}
footer .instagram .instagram-photos{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2px;
}
footer .instagram .instagram-photos img{
	width: 100%;
	height: auto;
	display: block;
}
footer .instagram .more{
	color: #666;
	font-size: 12px;
	font-weight: 300;
	font-style: italic;
	margin-top: 15px;
}
footer .copyright{
	width: 100%;
	font-size: 14px;
	height: 60px;
	border-top: 1px solid #e5e5e5;
	margin-top: 70px;
}
footer .copyright span{
	color:  #f38181;
}





/*form*/
form.subscribe { 
	max-width: 380px;
  	display: flex;
} 
form.subscribe .add-on{ 
	display: inline-block;
	padding: 0 34px;  
	background-color: #95e1d3; 
	color: #fff; 
	vertical-align: top;
	flex-shrink: 0;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 40px;
	transition: all .2s linear;
} 
form.subscribe .add-on:hover{
	background-color: #8ACDC1;
}
form.subscribe .input { 
	padding: 12px; 
	border: 1px solid #e5e5e5; 
	border-right: 0;
	flex-grow: 1;
	min-width: 50px; /*по-умолчанию min-width слишком большой */
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	transition: all .2s linear;
} 
form.subscribe .input:focus,
form.subscribe .input:active{
	border-color: #95e1d3;
}
form.subscribe .input::placeholder { 
	color: #ccc;
}




@media (max-width: 1230px){
	
	/*intro*/

	.intro .overhead{
		font-size: 60px;
	}
	.intro h1{
		font-size: 120px;
	}

}

@media (max-width: 990px){
	
	/*intro*/
	
	.intro .overhead{
		font-size: 32px;
	}
	.intro h1{
		font-size: 80px;
	}

}

@media (max-width: 770px){
	
	/*header*/

	header .user-buttons {
	    margin-left: 25px;
	}

	/*slider*/

	.slider ul li{
		font-size: 14px;
		line-height: 50px;
	}
	.slider ul li span{
		font-size: 18px;
	}

}
@media (max-width: 575px){

	/*header*/

	nav, header .user-buttons{
		display: none;
	}

	/*intro*/
	
	.intro .overhead{
		font-size: 22px;
	}
	.intro h1{
		font-size: 40px;
	}

	/*slider*/

	.slider ul li{
		font-size: 0;
		line-height: 40px;
	}
	.slider ul li+li {
	    margin-left: 20px;
	}
}

