/*font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;*/

/*reset*/

*,
*::before,
*::after{
	box-sizing: border-box;
}
body{
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
button{
	border: 0;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}
dl, dd{
	margin: 0;
}
hr{
	border: 0;
	margin: 0;
}


/*general*/

body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6;
	scroll-behavior: smooth;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
p{
	margin: 0;
}
.center{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.overhead{
	font-family: 'Kaushan Script', cursive;
	color: #333;
	font-size: 24px;
	margin-bottom: 8px;
}
h2{
	font-size: 30px;
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
}
h2::after{
	content: "";
	display: block;
	margin: 38px auto;
	width: 60px;
	height: 3px;
    background-color: #f38181;
}
.title-description{
	color: #999;
	text-align: center;
	width: 1090px;
	/*font-size: 24px;*/
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
}


/*header*/

header{
	position: absolute;
	left: 0;
    right: 0;
    padding-top: 29px;
    z-index: 9999;
}
header .container{
	display: flex;
	align-items: center;
}
.logo{
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	margin-right: auto;
}
nav{
	text-transform: uppercase;
	font-size: 14px;
	width: 494px;	
}
nav ul{
	display: flex;
	justify-content: space-between;
}
nav ul li a{
	color: #fff;
	padding: 10px 2px 7px;
	display: inline-block;
}
nav ul li:hover a,
nav ul li.active a
{
	color: #fce38a;
	transition: color .2s linear;
}
nav ul li::after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: #fce38a;
	opacity: 0;
	transition: opacity .2s linear;
}
nav ul li:hover::after,
nav ul li.active::after
{
	opacity: 1;
	background-color: #fce38a;
}
.user-button{
	margin-left: 50px;
	width: 76px;
	display: flex;
	justify-content: space-between;
}
.user-button button{
	font-size: 0;
	width: 18px;
	height: 18px;
}
.shopping{
	background: url("../img/header/cart.svg") center no-repeat;
}
.search{
	background: url("../img/header/search.svg") center no-repeat;
}


/*intro*/

.intro{
	height: 100vh;
	min-height: 870px;
	background: url("../img/back-intro.png") center no-repeat;
	background-size: cover;
}
.intro .container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-direction: column;
	position: relative;
}
.intro .overhead{
	color: #fff;
	font-size: 72px;
	margin-bottom: 18px;
}
h1{
	width: 980px;
	font-size: 150px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	line-height: 1;
}
h1::after{
	content: "";
	display: block;
	margin: 50px auto;
	width: 60px;
	height: 3px;
    background-color: #fff;
}
.intro .btn{
	color: #fff;
	border: 3px solid #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 30px;
	line-height: 40px;
	transition: all .2s linear;
}
.intro .btn:hover{
	background-color: #fff;
	color: #333;
}


/*slider*/

.slider{
	width: 100%;
	position: absolute;
    bottom: 0;
}
.slider ul{
	display: flex;
}
.slider ul li{
	flex-grow: 1;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	position: relative;
	opacity: 0.5;
	border-top: 3px solid #fff;
	line-height: 70px;
}
.slider ul li.active::before{
	content: "";
	display: block;
	position: absolute;
	width: 70px;
	height: 3px;
	top: -3px;
	background-color: #f38181;
}
.slider ul li.active{
	opacity: 1;
}
.slider ul li+li{
	margin-left: 40px;
}
.slider ul li span{
	font-weight: bold;
	font-size: 24px;
}




/*about*/
.about{
	padding-top: 90px;
	padding-bottom: 110px;
}
.about .title-wrap{
	margin-bottom: 100px;
}


/*gallery*/
.gallery ul{
	display: flex;
	justify-content: space-between;
}
.gallery ul li{
	position: relative;
	line-height: 0;
	box-shadow: 0 0 0 #95e1d3;
	transition: all .2s linear;
}
.gallery ul li:hover{
	transform: translate(-10px, -10px);
	box-shadow: 10px 10px 0 #95e1d3;
}
.gallery ul li .overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(#f38181, #fce38a);
	opacity: 0;
	transition: opacity .2s linear;
}
.gallery ul li:hover .overlay{
	opacity: 0.9;
}
.gallery ul li .overlay::before{
	content: "";
	background: url("../img/gallery/users.svg") center no-repeat;
	display: block;
	width: 32px;
	height: 23px;
}
.gallery ul li .overlay p{
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	line-height: 36px;
	font-weight: bold;
}




/*statistics*/

.statistics{
	background-color: #95e1d3;
	color: #fff;
	height: 270px;
}
.statistics .container{
	height: 100%;
}
.statistics ul{
	display: flex;
	height: 100%;
}
.statistics ul li{
	flex: 1 1 0;
	font-size: 14px;
	text-transform: uppercase;
	border-left: 1px solid rgba(255,255,255,0.3);
}
.statistics ul li:last-child{
	border-right: 1px solid rgba(255,255,255,0.3);
}
.statistics ul li span{
	font-size: 72px;
	font-weight: bold;
	line-height: 1.4;
}


/*services*/

.services{
	padding-top: 110px;
	padding-bottom: 120px;
}
.services .title-wrap{
	margin-bottom: 30px;
}
.services dl{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 74px 2px 74px;
	column-gap: 60px;
	row-gap: 46px;
	position: relative;
}
.services dl hr.separator{
	grid-column: span 3;
	background-color: #e5e5e5;
}
.services dl .dl-item{
	margin-left: 90px;
	position: relative;
}
.services dl .dl-item::before{
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 0;
	left: -60px;
}
.services dl .dt-photography::before{
	background: url("../img/services/clock.svg") center no-repeat;
}
.services dl .dt-web-design::before{
	background: url("../img/services/line-graph.svg") center no-repeat;
}
.services dl .dt-creativity::before{
	background: url("../img/services/computer-ok.svg") center no-repeat;
}
.services dl .dt-seo::before{
	background: url("../img/services/book.svg") center no-repeat;
}
.services dl .dt-css-html::before{
	background: url("../img/services/house.svg") center no-repeat;
}
.services dl .dt-digital::before{
	background: url("../img/services/picture.svg") center no-repeat;
}
.services dl dt{
	color: #333;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: bold;
}
.services dl dd{
	color: #999;
	font-size: 13px;
}




/*unique-design*/

.unique-design{
	padding-top: 110px;
	background: url("../img/back-unique-design.png") center no-repeat;
	background-size: cover;
}
.unique-design .container{
	position: relative;
}
.unique-design .title-wrap{
	margin-bottom: -20px;
}
.ipad{
	display: block;
	margin: auto;
	padding-right: 40px;
}
.iphone{
	position: absolute;
	bottom: -90px;
	right: 19%;
}